@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #131313;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.container {
    
    display: flex;
    width: 100%;
    padding: 0 20px;
}


.slide {
    font: 24px Mulish, sans-serif;
    margin: 10px;
    height: 80vh;
    border-radius: 20px;
    flex: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.slide h3 {
    margin: 0 20px;
    bottom: 20px;
    position: absolute;
    color: #fff;
    opacity: 0;
}

.slide.active {
    flex: 10;
}

.slide.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in-out 0.3s;
}